{
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": { "webpack": "config" }
  },
  "globals": { "__PRODUCTION__": true },
  "extends": ["airbnb-base", "angular", "../.eslintrc"],
  "rules": {
    "angular/no-service-method": "off",
    "angular/log": "warn",
    "angular/controller-as-vm": ["error", "$ctrl"],
    "global-require": "off"
  }
}
