@import '../../mixins';

#page-admin {
  @include full-page;
  background-color: #795548;

  > main {
    vertical-align: top;
    padding-top: 55px;
    padding-bottom: 55px;

    @media (max-width: $screen-xs-max) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
