<div id="page-login">
   <main app-well class="container">
      <h1 class="page-header">Login</h1>

      <form name="login" ng-submit="$ctrl.login(login)" novalidate>
         <div class="form-group" app-show-errors>
            <label for="email">Email address</label>
            <input
               type="email"
               class="form-control"
               id="email"
               placeholder="Email"
               ng-model="login.email"
               required>
         </div>
         <div class="form-group" app-show-errors>
            <label for="password">Password</label>
            <input type="password"
               class="form-control"
               id="password"
               placeholder="Password"
               ng-model="login.password"
               required>
         </div>
         <div class="checkbox">
            <label>
               <input type="checkbox"
                  ng-model="login.rememberMe"
                  ng-false-value="false"
                  ng-init="login.rememberMe=true"> Remember me
            </label>
         </div>

         <button type="submit" class="btn btn-dark" ng-disabled="login.$invalid">Login</button>
      </form>
   </main>
</div>

<app-nav-home></app-nav-home>
