@import "../../variables";

#page-home {
}

.home {
  height:          100%;
  min-height:      100%;
  width:           100%;
  display:         table;
  box-shadow:      inset 0 0 100px rgba(0, 0, 0, 0.3);
  position:        relative;
  background:      #9c27b0 no-repeat center center scroll;
  background-size: cover;

  @media (max-width: $screen-xs-max) {
    box-shadow: none;
  }

  & &__text-vertical-center {
    display:        table-cell;
    text-align:     center;
    vertical-align: middle;
    color:          rgba(255, 255, 255, .87);
    padding:        15px;

    @media (max-width: $screen-xs-max) {
      padding: 10px;
    }

    > h1 {
      margin:         0;
      padding:        0;
      font-size:      3.75em;
      letter-spacing: -2px;
      font-weight:    900;
      color:          #ffffff;

      @media (max-width: $screen-xs-max) {
        font-size:      3.75em * 0.85;
        letter-spacing: -2px * 0.85;
      }
    }

    > h3 {
      font-size:  1.75em;
      font-style: italic;

      @media (max-width: $screen-xs-max) {
        font-size: 1.75em * .85;
      }
    }
  }
}

#page-home-menu {
  position: fixed;
  right:    15px;
  bottom:   15px;
  padding:  3px 6px 1px;

  @media (max-width: $screen-xs-max) {
    right:  10px;
    bottom: 10px;
  }
}
