@import "../../variables";
@import "../../mixins";

#page-home {
  @include full-page;
  background-color: #9c27b0;

  > main {
    color:      rgba(255, 255, 255, .87);
    text-align: center;

    > h1 {
      @include title;
    }

    > h2 {
      @include sub-title;
    }
  }
}
