@import "../../mixins";

app-nav-home {
  > nav {
    position: fixed;
    z-index:  1;
    top:      15px;
    left:     15px;

    @media (max-width: $screen-xs-max) {
      left: 10px;
      top:  10px;
    }

    > a.btn {
      padding: 3px 6px 1px;
    }
  }
}
