<div app-well id="page-admin-add">
   <form name="question" ng-submit="$ctrl.addQuestion(question)" novalidate>
      <h1 class="page-header">Add a Question</h1>
      <div class="form-group" app-show-errors>
         <label for="text">New Question</label>
         <input
            type="text"
            class="form-control"
            id="text"
            placeholder="New Question"
            ng-model="question.text"
            required>
      </div>

      <div class="form-group" ng-repeat="choice in question.choices" app-show-errors>
         <input type="hidden" ng-model="choice.order" ng-init="choice.order=$index">
         <label for="choice-{{$index}}">Choice #{{$index}}</label>
         <input
            type="text"
            class="form-control"
            id="choice-{{$index}}"
            placeholder="Choice #{{$index}}"
            ng-model="choice.text"
            required>
      </div>

      <div class="form-group" app-show-errors>
         <label for="Add Choice">
            Add Choice
         </label>
         <input
            type="text"
            class="form-control"
            id="Add Choice"
            placeholder="Add Choice"
            ng-model="question.addChoice.text">
      </div>

      <button
         class="btn btn-dark"
         ng-click="$ctrl.addChoice(question.addChoice, question)"
         ng-disabled="!question.addChoice.text.length">Add Choice
      </button>
      <button
         type="submit"
         class="btn btn-dark"
         ng-disabled="question.$invalid || question.addChoice.text.length || !question.choices.length">Add Question
      </button>
   </form>
</div>
